@import url('https://fonts.googleapis.com/css?family=EB Garamond|Libre Baskerville|Raleway|Bree Serif|Uchen|Libre Baskerville|Merriweather');   
.header{
    background-color: #f5eedf;
}

.back-img{
    background-color: #f5eedf;
}

.main-text{
    margin-top: 35px;
    max-width: 35%;
}

.main-text h1{
    font-size: 3.8rem;
    font-family: "Libre Baskerville";
}

.growth{
    font-size: 1.4rem;
    text-align: justify;
    line-height: 30px;
}

#con-img{
    margin-right: auto;
    max-width: 55%;
    margin-bottom: 100px;
}

.contact-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact-details{
    max-width: 40%;
}

.form-card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border-radius: 20px;
    box-shadow: inset -6px -6px 0 #e07a5f;
    transition: 0.3s;
    background-color: white;
    width: 500px;
    height: 600px;
    margin-bottom: 200px;
    text-align: center;
}

input, textarea{
    appearance: none;
    margin-bottom: 5%;
    background-color: #fffdf4;
    border: 1px solid #e1dfd4;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 13px 20px;
    font-size: 16px;
    font-weight: 500;
    width: 80%;
    box-shadow: none;
    outline: 0;
    color: #000;
}

#f-btn{
    appearance: none;
    border: none;
    box-shadow: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    padding: 19px 56px;
    background-color: #e07a5f;
    transition: background-color .35s;
    text-decoration: none;
    border-radius: 30px;
    height: 60px;
    white-space: nowrap;
    outline: 0;
}

.contact-details{
    margin: 0 auto;
}

.form_cont{
    margin: auto;
}

.contact-details h1{
    font-family: "Merriweather";
    font-size: 3.5rem;
    margin-top: 100px;
}

.contact-details h3{
    font-family: "Raleway";
    text-align: justify;
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 30px;
}

.contact-social{
    margin-top: 30px;
    font-family: "Merriweather";
    color: #003049;
    font-weight: 600;
}

.contact-social div{
    padding-top: 40px;
    font-size: 1.2rem;
    align-items: center;
    display: flex;
}

.contact-social img{
    width: 40px;
}